/* Color Palette:
    navy #313866
    purple #504099
    magenta #974EC3
    pink #FE7BE5
*/

/* --- CSS Reset --- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* --- General Document Settings --- */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- Header & Footer Section --- */

header,
footer {
    background: #313866;
    color: #FE7BE5;
    padding: 16px 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header {
    border-bottom: 5px solid #974EC3;
} */

/* --- Navbar Section --- */

/* navbar div within header keeps items centered while zooming */
#navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    flex: 1;
    border: 3px solid transparent;
    transition: 0.3s ease-out;
}

.logo:hover {
    background-color: #504099;
    border: 3px solid #504099;
    font-size: 36px;
}

.links {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 24px;
}

.links li {
    border: 3px solid transparent;
    padding: 8px;
    transition: 0.3s ease-in-out;
}

.links li:hover {
    background-color: #504099;
    color: #313866;
    border: 3px solid #313866;
    font-weight: bold;
}

#navbar ul {
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    color: #FE7BE5;
    font-size: 16px;
}

/* --- Footer Section --- */

footer {
    white-space: nowrap;
    padding: 36px 192px;
}

/* --- Content Sections Below --- */

#content {
    /* setting flex grows items proportionally w/ zoom out 
       also makes footer stick to page bottom */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero,
.information {
    flex: 2;
}

/* --- Hero Section  --- */

.hero {
    background: #313866;
    padding: 64px 192px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 12px;
    font-weight: 700;
}

.hero-text p {
    font-size: 18px;
}

.hero-text button {
    background: #974EC3;
    color: #eee;
    font-weight: bold;
    margin-top: 12px;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-text button:hover {
    background-color:#FE7BE5;
    color: #313866;
    transition-duration: 0.4s;
    border: 3px solid #313866;
    font-weight: bold;
}

/* .img {
    background: #8a8a8a;
    width: 300px;
    height: 200px;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .hero-text h1 {
    text-decoration: underline;
} */

/* --- Information Section --- */

.information {
    background: #313866;
    color:#FE7BE5;
    padding: 48px 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.information .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.info-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #FE7BE5;
    border-width: 0px 0px 0px 10px;
}

.info {
    font-size: 14px;
    text-align: left;
    flex: 1;
    background-color: #313866;
    color:#eee;
    padding: 25px;
    transition: 0.5s ease-in-out;
    max-width: 600px;
}

.info:hover {
    background-color:#504099;
    color: #FE7BE5;
    /* padding: 25px 50px 25px 50px; */
    padding: 50px 0px 50px 35px;
    max-width: 600px;
}

.experience {
    margin-top: 16px;
}

.info-header {
    display: flex;
    gap: 24px;
}

/* .info-header img {
    flex: 1;
}

.info-header-text {
    flex: 5;
} */

.info img {
    max-width: 70px;
    max-height: 70px;
    height: auto;
}

.info-body {
    padding-left: 25px;
    max-width: 550px;
}

/* --- Quote Section --- */

/* .quote {
    background: #504099;
    color: #FE7BE5;
    padding: 64px 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
}

.quote .text h4 {
    font-size: 20px;
    text-align: end;
} */
  
/* --- Sign Up Section --- */

.sign-up {
    flex: 1;
    padding: 48px 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box {
    flex: 1;
    background: #974EC3;
    color: #eee;
    max-width: 800px;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 36px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.sign-up-box:hover {
    background-color:#504099;
    color: #FE7BE5;
    transition-duration: 0.4s;
    border: 3px solid #FE7BE5;
}

.sign-up .left {
    min-width: 120px;
}
.sign-up .right {
    min-width: 104px;
}

.sign-up p {
    font-size: 12px;
}

.sign-up button {
    background: #974EC3;
    color: #eee;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 6px 24px;
    white-space: nowrap;
    font-weight: normal;
}

.sign-up button:hover {
    background-color:#FE7BE5;
    color: #313866;
    transition-duration: 0.4s;
    border: 3px solid #313866;
    font-weight: bold;
}