/* Color Palette:
    navy #313866
    purple #504099
    magenta #974EC3
    pink #FE7BE5
*/

/* --- CSS Reset --- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* --- General Document Settings --- */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* --- Header & Footer Section --- */

header,
footer {
    background: #313866;
    color: #FE7BE5;
    padding: 8px 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* --- Navbar Section --- */

/* navbar div within header keeps items centered while zooming */
#navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 128px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    flex: 1;
    border: 3px solid transparent;
    text-shadow: 2px 2px 0 #974EC3;
    /* padding: 8px; */
    transition: 0.3s ease-out;
}

.logo:hover {
    background-color: #504099;
    color: #FE7BE5;
    border: 3px solid #313866;
}

.links {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 24px;
}

.links li {
    border: 3px solid transparent;
    padding: 8px;
    transition: 0.3s ease-out;
    font-weight: bold;
    /* min-width: 100px; */
}

.links li:hover {
    background-color: #504099;
    border: 3px solid #313866;
}

#navbar ul {
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    color: #FE7BE5;
    font-size: 16px;
}

/* --- Footer Section --- */

footer {
    white-space: nowrap;
    padding: 36px 192px;
    gap: 12px;
}

footer a {
    color: #974EC3;
    font-size: 12px;
}

/* --- Content Sections Below --- */

#content {
    /* setting flex grows items proportionally w/ zoom out 
       also makes footer stick to page bottom */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero,
.experience,
.projects {
    flex: 2;
}

/* --- Hero Section  --- */

.hero {
    background: #313866;
    padding: 48px 192px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    padding: 24px 64px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 12px;
    font-weight: 700;
    text-shadow: 2px 2px 0 #974EC3;
    /* padding-bottom: 20px; */
}

.hero-text p {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-text button {
    background: #974EC3;
    color: #eee;
    font-weight: bold;
    margin-top: 12px;
    border: 3px solid transparent;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-text button:hover {
    background-color:#FE7BE5;
    color: #313866;
    transition-duration: 0.4s;
    border: 3px solid #313866;
    font-weight: bold;
}

#name {
    /* background-color:#FE7BE5; */
    color: #FE7BE5;
    /* text-shadow: #FE7BE5 2px 2px; */
}

/* --- Experience Section --- */

.experience {
    background: #313866;
    color:#FE7BE5;
    padding: 48px 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.experience .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 0 #974EC3;
}

.info-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border: 3px solid #FE7BE5;
    border-width: 0px 0px 0px 10px;
}

.info {
    font-size: 14px;
    text-align: left;
    flex: 1;
    background-color: #313866;
    color:#eee;
    padding: 25px;
    transition: 0.5s ease-in-out;
    max-width: 600px;
}

.info:hover {
    background-color:#504099;
    padding: 50px 0px 50px 35px;
    max-width: 600px;
}

.info:hover .info-header,
.info:hover .skills,
.info:hover .text h3 {
    color: #FE7BE5;
    /* text-shadow: 2px 2px 0 #974EC3; */
    text-shadow: 2px 2px 0 #313866;
}

.info:hover li {
    font-size: 14px;
}

.info-body .text {
    margin: 16px 0px 16px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info-header {
    display: flex;
    gap: 24px;
}

.info img {
    max-width: 70px;
    max-height: 70px;
    height: auto;
}

.info-body {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    max-width: 550px;
}

.skills {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    list-style: none;
    margin-left: 0px;
}

.skills li {
    display: flex;
    font-size: 12px;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
    padding: 4px 8px;
    font-weight: bold;
    font-style: italic;
    padding-left: 0px;
}

.skills li:hover {
    padding: 4px 12px;
    text-shadow: 0px 0px;
}

.text h3 {
    font-style: italic;
}


/* --- Work Section --- */

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 192px;
    background-color: #313866;
    color:#FE7BE5;
    gap: 32px;
}

.projects .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 0 #974EC3;
}

.project-cards {
    flex: 1;
    padding: 24px 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    background-color: #313866;
}

.project {
    flex: 1;
    background: #974EC3;
    color: #eee;
    max-width: 700px;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 24px 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: 0.4s ease-in-out;
}

.project:hover {
    background-color:#504099;
    border: 3px solid #FE7BE5;
    margin: 12px 0px 12px 0px;
}

.project:hover .project-header .project-title{
    color: #FE7BE5;
    text-shadow: 2px 2px 0 #313866;
}

.project:hover .icons {
    padding: 12px 12px 0px 0px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.project-header .project-title {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.project-header .icons {
    flex: 1;
    display: flex;
    justify-content: end;
    gap: 12px;
    transition: 0.4s ease-in-out;
    /* margin: -12px -48px; */
}

.project-header img {
    height: 24px;
    max-width: auto;
}

.projects p {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-info a {
    text-decoration: underline;
    color: #eee;
    font-weight: bold;
}
  
/* --- Sign Up Section --- */

.sign-up {
    flex: 1;
    padding: 48px 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313866;
}

.sign-up-box {
    flex: 1;
    background: #974EC3;
    color: #eee;
    max-width: 800px;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 36px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.sign-up-box:hover {
    background-color:#504099;
    color: #FE7BE5;
    transition-duration: 0.4s;
    border: 3px solid #FE7BE5;
}

.sign-up .left {
    min-width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.sign-up p {
    font-size: 12px;
}

.sign-up button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #974EC3;
    color: #eee;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 6px 24px;
    white-space: nowrap;
    font-weight: bold;
    gap: 14px;
}

.sign-up button:hover{
    background-color:#FE7BE5;
    color: #313866;
    transition-duration: 0.4s;
    border: 3px solid #313866;
    font-weight: bold;
}

.sign-up img {
    max-width: 70px;
    max-height: 70px;
    height: auto;  
    /* border: 5px solid #FE7BE5; */
}

.sign-up button img {
    height: 25px;
    max-width: auto;
}

.sign-up a {
    text-decoration: none;
}